<div class="d-flex" id="wrapper" class="{{toggled}}">


  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> Menú lateral</div>
    <div class="list-group list-group-flush">
      
      <div class="dropdown">
        <button class="list-group-item list-group-item-action bg-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mantenimiento
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="user" (click)="sideBar()">Usuarios</a>
          <a class="dropdown-item" routerLink="users" (click)="sideBar()">Lista de usuarios</a>
          <a class="dropdown-item" href="#" (click)="sideBar()">Otros</a>
        </div>
      </div>

      <a routerLink="profile" class="list-group-item list-group-item-action bg-light" (click)="sideBar()">Perfil</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" (click)="sideBar()">Status</a>
      
    </div>
  </div>


  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <button class="btn btn-primary navbar-brand" id="menu-toggle" (click)="sideBar()" *ngIf="loggedIn">
        <i class="fas fa-bars"></i>
      </button>

      <a class="navbar-brand" href="#"> CRM <span class="text-primary">System</span>
        <img src="https://img.icons8.com/color/48/000000/casta-rica-circular.png"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    
      <div class="collapse navbar-collapse" id="navbarColor02">
    
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="login" *ngIf="!loggedIn">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signup" *ngIf="!loggedIn">Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="profile" *ngIf="loggedIn">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
          </li>
        </ul>
    
      </div>
    </nav>

  </div>

  
</div>