<div class="row no-gutters border" id="header">

    <div class="col-md-1 col-2 p-2">
        <img class="img-logo" src="https://img.icons8.com/color/48/000000/avengers.png" alt="">
    </div>

    <div class="col-md-10 col-10">
        
        <nav class="navbar navbar-expand-sm navbar-light">

            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">

                <ul class="navbar-nav mr-auto mt-lg-0">

                    <li class="nav-item active">
                        <a class="nav-link active" [routerLink]="['/events']" routerLinkActive="router-link-active">Eventos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/list-events']" routerLinkActive="router-link-active">Gestionar eventos</a>
                    </li>

                    <li class="nav-item"> 
                        <a class="nav-link disabled" href="#">Otro</a>
                    </li>

                </ul>

            </div>

        </nav>

    </div>

</div>
