<div class="container">

    <div class="modal fade" id="modalProducts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header justify-content-around">
            <h5 class="modal-title" id="exampleModalLabel">Productos</h5>
            <button type="button" id="closeProduct" class="close btn btn-danger" data-dismiss="modal">&times;</button>
          </div>

          <div class="alert alert-danger" [hidden]="!error[0]">
            <li *ngFor="let err of error">
              {{ err.msg }}
            </li>
          </div>
  
          <div class="modal-body">
               <table class="table table-striped table-bordered" style="text-align:center">
                   <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>
                              <div style="text-align:center">
                                  <button class="btn btn-success" (click)="addServices()"> Agregar<i class="fa fa-plus-circle"></i></button>
                                  <br>
                                  <br>
                                  <div class="input-group" style="justify-content: center;">
                                    <form #listvForm=ngForm (ngSubmit)="searchProducts()">
                                      <input type="text" name="search" [(ngModel)]="form.search" class="form-control" placeholder="Search product">
                                    </form>
                                  </div>
                              </div>
                            </th>
                        </tr>
                    </thead>  

                    <tbody style="text-align:center">
                        <tr *ngFor="let product of products; index as i">
                            <input type="hidden" name="id" id="id" [(ngModel)]="form.id" value="{{product.id}}">
                            <td scope="row">{{i+1}}</td>
                            <td class="text-info">{{product.code}} </td>
                            <td class="text-info">{{product.fullname}} </td>
                            <td style="text-align:right">
                              <div class="form-group row  mx-auto mt-3">
                            
                                <div class="col-sm-7">
                                  <input type="checkbox" id="checkService" (change)="changed($event, product)">
                                </div>

                              </div>
                            </td>
                        </tr>
                    </tbody>
              
              </table>
          </div>
    
        </div>
      </div>
  </div>
  
</div>
