div.fc div.fc-view-harness div.fc-view div.fc-scroller {
    height: 100% !important;
}

.fc-list-event.task span.fc-list-event-dot, .legend-task {
    border: calc(var(--fc-list-event-dot-width,10px)/ 2) solid #7c7c7c;
    font-size: 20px;
}

.fc-list-event.appointment span.fc-list-event-dot, .legend-appointment {
    border: calc(var(--fc-list-event-dot-width,10px)/ 2) solid #c4302b;
    font-size: 20px;
}

.fc-list-event.meeting span.fc-list-event-dot, .legend-meeting {
    border: calc(var(--fc-list-event-dot-width,10px)/ 2) solid #6441a5;
    font-size: 20px;
}