<div class="container">
  
    <h1>Productos</h1>
      
    <table class="table table-striped table-bordered" style="text-align:center">
        <tr>
          <th>#</th>
          <th>Código</th>
          <th>Nombre</th>
          <th>
            <div style="text-align:center">
                <button class="btn btn-success" [disabled]="!Service.addService" (click)="add()"> gregar<i class="fa fa-plus-circle"></i></button>
                <br>
                <br>
                <div class="input-group" style="justify-content: center;">
                  <form #listvForm=ngForm (ngSubmit)="searchProducts()">
                    <input type="text" name="search" id="search" [(ngModel)]="form.search" class="form-control" placeholder="Search product">
                  </form>
                </div>
            </div>
          </th>
      </tr>
    
        <tr *ngFor="let product of products; index as i">
          <input type="hidden" name="id" id="id" [(ngModel)]="form.id" value="{{product.id}}">
          <td scope="row">{{i+1}}</td>
          <td class="text-info">{{product.code}} </td>
          <td class="text-info">{{product.fullname}} </td>
          <td style="text-align:right" *ngIf="Service.addService">
            <div class="form-group row  mx-auto mt-3">

              <div class="col-sm-7">
                <input type="checkbox" (change)="changed($event, product)" [disabled]="!Service.addService">
              </div>
              
            </div>
          </td>
      </tr>
    
    </table>
        
</div>
